body{
    background-image: url('livingroom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
    text-align: center;


}

#home{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#sketch{
    text-align: center;
}